<mat-card>

  <mat-form-field appearance="fill">
    <mat-label>Post Title</mat-label>
    <input matInput type="text" [(ngModel)]="enteredTitle" placeholder="My Big Day..." />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Enter your message below</mat-label>
    <textarea rows="6" matInput type="text" [(ngModel)]="enteredContent" placeholder="Dear diary..."></textarea>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="onAddPost()">Submit Message</button>
</mat-card>
