<mat-accordion multi="true" *ngIf="posts.length > 0">
  <mat-expansion-panel *ngFor="let post of posts" [expanded]="true">

    <!-- Post Header -->
    <mat-expansion-panel-header>
      <mat-panel-title>
        <b style="font-weight: 500;">{{ post['title'] }}</b>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <!-- Post Content -->
    <p>{{ post['content'] }}</p>

    <!-- Action Row Buttons -->
    <mat-action-row color="primary">
      <!-- Hidden - not implemented
      <button mat-mini-fab color="accent"><mat-icon>edit</mat-icon></button>
      -->
      <button mat-mini-fab color="primary" class="my-fab"
        (click)="onDelete(post.id)"><mat-icon>delete</mat-icon></button>
    </mat-action-row>

  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="posts.length <= 0">No signatures yet.</p>
<div id="spacer"></div>
